*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 23rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.1),0 0 40px rgba(0,0,0,0.5);
    border-radius: 25px;
    padding: 0 3rem;
}

.sneaker{
    min-height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sneaker img{
    width: 15rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}

.circle{
    height: 10rem;
    width: 10rem;
    background: linear-gradient(to right,rgb(226, 112, 112,0.6),rgb(75, 122, 192,0.8));
    position: absolute;
    border-radius: 50%;
}

.info h1{
    font-size: 2rem;
    transition: all 0.75s ease-out;
}

.info h3{
    font-size: 1rem;
    padding:1rem 0;
    color: gray;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}

.sizes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.75s ease-out;
}

.sizes button{
    padding: 0.2rem 1.2rem;
    background: none;
    border: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(39, 38, 38);
}


.purchase{
    margin-top: 5rem;
    transition: all 0.75s ease-out;
}

.purchase button{
    width: 100%;
    padding: 0.5rem 0;
    background: tomato;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.75s ease-out;
}